.navbar-brand {
  display: flex;
  align-items: center;
}

.brand-icon {
  width: 10vh;
  height: auto;
  filter: invert(1) grayscale(100%) brightness(200%);
}

.main-div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.vh-10 {
  height: 12vh;
}

.navbar {
  padding-inline: 5vw;
}

