<div class="component-wrapper">
  <div class="table-wrapper">
    <h6>Clasificación</h6>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th></th>
          <th>PJ</th>
          <th>V</th>
          <th>E</th>
          <th>D</th>
          <th>GF</th>
          <th>GC</th>
          <th>DF</th>          
          <th>P</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of standings; let i = index">
          <td>{{ i + 1 }}</td>
          <td class="crest-container">
            <img src="{{ team.team.clubCrest }}" alt="Club crest" class="club-crest">
          </td>
          <td>{{ team.gamesPlayed }}</td>
          <td>{{ team.won }}</td>
          <td>{{ team.tied }}</td>
          <td>{{ team.lost }}</td>
          <td>{{ team.goalsFor }}</td>
          <td>{{ team.goalsAgainst }}</td>
          <td>{{ team.goalDifference }}</td>
          <td>{{ team.points }}</td>
        </tr>
      </tbody>
    </table>
  </div>



  <div class="tournament-fixtures">
    <h6>Calendario</h6>
    <div *ngFor="let split of getSplits()" class="split-container">
      <h6 class="split-title">Vuelta {{ split }}</h6>
      <div class="matchday-wrapper">
        <div *ngFor="let matchday of getMatchdays(split)" class="matchday-container">
          <div class="matchday">
            <span class="matchday-title">Jornada {{ matchday }}</span>
            <div *ngFor="let match of calendarMatches[split][matchday]">
              <div *ngIf="match.home && match.away" class="match-wrapper">
                <div class="match-container" [ngClass]="{'user-match-container': match.home.id === currentTeam.teamId || match.away.id === currentTeam.teamId}">
                  <img class="club-crest" [src]="match.home.clubCrest" alt="{{ match.home.clubName }}" />
                  <div class="result-container">
                    <span class="goals">{{match.matchStats?.home?.goals ?? '-'}}</span>
                    <span class="goals">{{match.matchStats?.away?.goals ?? '-'}}</span>
                  </div>
                  <img class="club-crest" [src]="match.away.clubCrest" alt="{{ match.away.clubName }}" />
                </div>
                <a class="add-result" [ngClass]="{
                  'add-result-hidden': (match.home.id !== currentTeam.teamId && match.away.id !== currentTeam.teamId) || match.status === 'completed',
                  }" (click)="addMatchResult(match)">
                  <span class="results-btn">+</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
