<div class="component-wrapper">
  <div class="return-button">
    <app-return-button></app-return-button>
  </div>
  <div class="menu-list">
    <a class="menu-item" (click)="createTournament()">
      <span class="menu-title">&#9989; Crear nuevo torneo</span>
      <span class="menu-description">Crea una nueva liga o eliminatorias</span>
    </a>
    <a class="menu-item" (click)="advanceSeason()">
      <span class="menu-title">&#9989; Avanzar número de temporada</span>
      <span class="menu-description">Avanzar a la temporada {{communityData.currentSeason.seasonNumber +1}}</span>
    </a>
    <a class="menu-item" (click)="teamBonusPenalty()">
      <span class="menu-title">&#9989; Ajustes de presupuestos</span>
      <span class="menu-description">Bonificaciones y sanciones para equipos</span>
    </a>
    <a class="menu-item">
      <span class="menu-title">&#10060; Gestión de usuarios</span>
      <span class="menu-description">...</span>
    </a>
  
  </div>
</div>
