<div class="component-wrapper">
  <div class="return-button">
    <app-return-button></app-return-button>
  </div>
  <div class="menu-list">
    <a class="menu-item">
      <span class="menu-title">Crear nuevo torneo</span>
      <span class="menu-description"></span>
    </a>
    <a class="menu-item" (click)="advanceSeason()">
      <span class="menu-title">Avanzar número de temporada</span>
      <span class="menu-description">Avanzar a la temporada {{communityData.currentSeason.seasonNumber +1}}</span>
    </a>
    <a class="menu-item" (click)="teamBonusPenalty()">
      <span class="menu-title">Bonificaciones / penalizaciones de usuarios</span>
      <span class="menu-description">...</span>
    </a>
    <a class="menu-item">
      <span class="menu-title">Gestión de usuarios</span>
      <span class="menu-description">...</span>
    </a>
  
  </div>
</div>
