.header {
  background-color: rgb(28,28,28);
  height: 8vh;
}

.header-container {
  display: flex; 
  justify-content: space-between; 
  height: 100%;
  padding: 10px ;
}

.header-item {
  display: flex; 
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  width: 25%;  
  margin: auto;
}

.header-text {
  font-size: 14px; /* Adjust text size */
  text-align: center;
}

.dropdown-menu {
  // position: absolute;
  left: 0;
  display: flex;
  flex-direction: row;

}

.team-menu {
  background-color: rgb(28,28,28);
  width: 100%;
  z-index: 10;
}

.menu-item {
  padding: 5px;
  :hover {
    color: rgba(255,255,255,0.8);
  }
  display: flex;
  flex-direction: row;
}

.menu-crest {
  width: 25px;
  height: auto;
  max-height: 30px;
}

.menu-text {
  height: 100%;
  margin: auto;
}

.overflow-hidden {
  overflow: hidden; /* Initially hide overflow content */
}

.overflow-hidden.active { /* Add "active" class on toggle */
  overflow: visible; /* Show content when toggled */
}
