<header class="header">
  <div class="header-container">
    <div class="header-item dropdown" clickOutside (clickOutside)="clickOutside()">
      <div class="menu-toggler dropdown-menu" (click)="toggleMenu()">
        Clubs <mat-icon>keyboard_arrow_down</mat-icon>
      </div>
      <div class="team-menu" *ngIf="isMenuOpened">
        <div *ngFor="let club of userClubs" routerLink="/{{club.team_id}}" routerLinkActive="active" class="menu-item">
            <img class="menu-crest" src="{{club.team_crest}}" alt="Crest">
            <span class="menu-text">{{ club.team_name }}</span>
        </div>
      </div>
    </div>
    <div class="header-item">
      <mat-icon>sports_soccer</mat-icon>
    </div>
    <div class="header-item">
      <mat-icon>euro_symbol</mat-icon>
    </div>
    <div class="header-item">
      <mat-icon>account_circle</mat-icon>
    </div>
  </div>
</header>
