<header class="header">
  <div class="header-container">
    <div class="header-item dropdown" clickOutside (clickOutside)="clickOutside()">
      <div class="menu-toggler dropdown-menu" (click)="toggleMenu()">
        <img class="current-team-crest" src="{{currentTeam.clubCrest}}"> 
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>
      <div class="team-menu" *ngIf="isMenuOpened">
        <div *ngFor="let club of userClubs" class="menu-item" (click)="changeCurrentClub(club)" routerLink="/community/{{club.communityId}}">
          <img class="menu-crest" src="{{club.clubCrest}}" alt="Crest">
          <span class="menu-text menu-club">{{ club.clubName }}</span>
          <span class="menu-text menu-community">{{ club.communityName }}</span>
        </div>
        <div class="add-new-team" routerLink="/join-community" (click)="toggleMenu()">
          <span>+ Create new team</span>
        </div>
      </div>
    </div>
    <div class="header-item team-budget">
      <span class="budget-amount">{{currentTeamFullData.budget | toCurrency: 'EUR'}}</span>
    </div>
    <div class="header-item">
      <mat-icon>account_circle</mat-icon>
    </div>
  </div>
</header>
