<div class="container-fluid page-container d-flex flex-column">
  <div class="text-center">
    <h1>Player List</h1>

    <mat-form-field appearance="fill">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
    </mat-form-field>
  </div>

  <div class='table-container'>
    <div class="table-wrapper">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Id Column -->
        <ng-container matColumnDef="playerId">
          <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell *matCellDef="let player">{{ player.id }}</mat-cell>
        </ng-container>
    
        <!-- Avatar Column -->
        <ng-container matColumnDef="avatar">
          <mat-header-cell *matHeaderCellDef colspan="2"></mat-header-cell>
          <mat-cell *matCellDef="let player"><a href="https://road-to-glory.netlify.app/players/{{player.id}}"><img class="player-list_photo" [src]='player.photo'></a></mat-cell>
        </ng-container>
    
        <!-- Positions Column -->
        <ng-container matColumnDef="positions">
          <mat-header-cell *matHeaderCellDef>Posiciones</mat-header-cell>
          <mat-cell *matCellDef="let player">
            <p class="positions-text">{{player.pref_position.join(' ')}}</p>
          </mat-cell>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name" class="mat-column-yourFieldName">
          <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
          <mat-cell *matCellDef="let player"><a href="https://road-to-glory.netlify.app/players/{{player.id}}">{{player.short_name}}</a></mat-cell>
        </ng-container>
    
        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef>Precio</mat-header-cell>
          <mat-cell *matCellDef="let player">{{playerPrices[player.overall] | formatNumber }}€</mat-cell>
        </ng-container>
    
        <!-- Overall Column -->
        <ng-container matColumnDef="overall">
          <mat-header-cell *matHeaderCellDef>Valoración</mat-header-cell>
          <mat-cell *matCellDef="let player">{{ player.overall }}</mat-cell>
        </ng-container>
    
        <!-- Country Column // not in use for TFM -->
        <ng-container matColumnDef="country">
          <mat-header-cell *matHeaderCellDef>País</mat-header-cell>
          <mat-cell *matCellDef="let player">{{ player.country }}</mat-cell>
        </ng-container>
    
        <!-- Weak Foot Column -->
        <ng-container matColumnDef="weakFoot">
          <mat-header-cell *matHeaderCellDef>Pierna Mala</mat-header-cell>
          <mat-cell *matCellDef="let player">{{ player.weak_foot + '&#9733;' }}</mat-cell>
        </ng-container>
    
        <!-- Skills Column -->
        <ng-container matColumnDef="skills">
          <mat-header-cell *matHeaderCellDef>Filigranas</mat-header-cell>
          <mat-cell *matCellDef="let player">{{ player.skill_moves+ '&#9733;' }}</mat-cell>
        </ng-container>
    
        <!-- Actual Club Column -->
        <ng-container matColumnDef="currentClub">
          <mat-header-cell *matHeaderCellDef>Club Actual</mat-header-cell>
          <mat-cell *matCellDef="let player">{{ player.current_club }}</mat-cell>
        </ng-container>
    
    
        <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
  </div>
</div>
