<div class="page">
  <button mat-raised-button color="primary" routerLink="/join-community" class="btn">Crear Nuevo Club</button>
  <!-- <button mat-raised-button color="primary" routerLink="/create-community" class="btn">Nueva Comunidad</button> -->
  <div>
    <h5>Últimas actualizaciones</h5>

    <p>28.08.24</p>
    <div>
      <li>Acceso a equipos de la comunidad en homepage</li>
      <li>Menu interactivo filtros de mercado</li>
    </div>
    <br>

    <p>27.08.24</p>
    <div>
      <li>Añadidos filtros de mercado</li>
    </div>
    <br>

    <p>26.08.24</p>
    <div>
      <li>Acceso a plantillas de otro equipo</li>
      <li>Jugadores de club ordenados por posición</li>
    </div>
    <br>
    <p>25.08.24</p>
    <div>
      <li>Lista de Favoritos</li>
      <li>Arreglado bug visual del presupuesto al comprar/vender</li>
    </div>
    <br>
    <p>22.08.24</p>
    <div>
      <li>Activadas las ventas</li>
      <li>Nuevo formato de noticias</li>
    </div>
    <br>
    <p>21.08.24</p>
    <div>
      <li>Añadidos 1800 jugadores</li>
      <li>Herramienta de búsqueda en el mercado</li>
    </div>
  </div>
</div>