:root {
  --primary-color: #F4AF23;
  --secondary-color: #df5111;
  --text-color: #ffffff;
  --background-color: #000000;
  --background-secondary-color: #2c2c2c;
  --card-header-color: #2980b9;
  --button-hover-color: #2980b9;
}