<div class="form-container">
  <h1>Plantilla</h1>

  <div class='table-container'>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Id Column -->
        <ng-container matColumnDef="playerId">
          <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell *matCellDef="let player">{{ player.id }}</mat-cell>
        </ng-container>
    
        <!-- Avatar Column -->
        <ng-container matColumnDef="avatar">
          <mat-header-cell *matHeaderCellDef colspan="2"></mat-header-cell>
          <mat-cell *matCellDef="let player"><a href="http://localhost:4200/players/{{player.id}}"><img class="player-list_photo" [src]='player.photo'></a></mat-cell>
        </ng-container>
    
        <!-- Positions Column -->
        <ng-container matColumnDef="positions">
          <mat-header-cell *matHeaderCellDef>Posiciones</mat-header-cell>
          <mat-cell *matCellDef="let player"><p *ngFor="let pos of player.pref_position">{{pos}}</p></mat-cell>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
          <mat-cell *matCellDef="let player"><a href="http://localhost:4200/players/{{player.id}}">{{player.short_name}}</a></mat-cell>
        </ng-container>
    
        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef>Precio</mat-header-cell>
          <mat-cell *matCellDef="let player">{{playerPrices[player.overall]}}€</mat-cell>
        </ng-container>
    
        <!-- Overall Column -->
        <ng-container matColumnDef="overall">
          <mat-header-cell *matHeaderCellDef>Valoración</mat-header-cell>
          <mat-cell *matCellDef="let player">{{ player.overall }}</mat-cell>
        </ng-container>
    <!--
         Country Column
        <ng-container matColumnDef="country">
          <mat-header-cell *matHeaderCellDef>País</mat-header-cell>
          <mat-cell *matCellDef="let player">{{ player.country }}</mat-cell>
        </ng-container>
      -->
        <!-- Weak Foot Column -->
        <ng-container matColumnDef="weakFoot">
          <mat-header-cell *matHeaderCellDef>Pierna Mala</mat-header-cell>
          <mat-cell *matCellDef="let player">{{ player.weak_foot + '&#9733;' }}</mat-cell>
        </ng-container>
    
        <!-- Skills Column -->
        <ng-container matColumnDef="skills">
          <mat-header-cell *matHeaderCellDef>Filigranas</mat-header-cell>
          <mat-cell *matCellDef="let player">{{ player.skill_moves+ '&#9733;' }}</mat-cell>
        </ng-container>
    
        <!-- Sell Column -->
        <ng-container matColumnDef="sell">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let player">
            <button  mat-raised-button color="primary"  (click)="sellPlayer()">Vender</button>
          </mat-cell>
        </ng-container>
        <!-- Transfer Column -->
        <ng-container matColumnDef="transfer">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let player">
            <button  mat-raised-button color="primary"  (click)="transferable()">Transferible</button>

          </mat-cell>

        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
  </div>  
</div>
