<div class="component-wrapper">
  <div class="logo-container"><img src="assets/images/rtg.svg" style="filter: invert(1); width: 50%; margin-bottom: 10vh" alt="Road to Glory Logo" class="logo"></div>
  <!-- <h1>¡Bienvenido a Road to Glory!</h1> -->
  <div class="button-container">
    <button mat-raised-button color="primary" routerLink="/login" class="btn">Login</button>
    <button mat-raised-button color="primary" routerLink="/register" class="btn">Regístrate</button>
  </div>
  <div class="message">
    <span>Road to Glory se encuentra en una fase alpha. La mayoría de las funcionalidades no se encuentran activas.</span>
    <span>Durante el desarrollo, puede ocurrir que el servidor tarde entre 30 y 60 segundos en iniciar, por lo que la primera interacción puede ser lenta.</span>
    <span>La aplicación no está todavía optimizada y su display inicial es para dispositivos móviles.</span>
    <span>Para cualquier consulta o sugerencia, no duden en contactarme en mi Github</span>
  </div>
</div>