.button-container {
  display: flex;
  flex-direction: column; /* Stack buttons vertically on mobile */
  align-items: center;
  margin: 0 auto; /* Center buttons horizontally on mobile */
  gap: 8px;
}

.logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  color: var(--text-secondary);
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
  margin-top: 128px;
  font-size: 0.8em;
}