
.player-list_photo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.player-overlay_photo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}


mat-header-row {
   background-color: #3F51B5;
}

mat-header-cell {
  color: white;
  font-weight: bold;
}

.bid-input {
  width: 100%;
}

.market-header{
  display: flex; 
  justify-content: space-between;
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  height: 100%;
}

.flex-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 16px;
}

.flex-item {
  width: 100%;
  max-width: 300px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.page-container {
  margin: 5vw;
  overflow-x: hidden;
  padding-right: 10vw;
}

.table-container {
  overflow-x: auto;
}

.mat-column-name {
  min-width: 110px;
}

.mat-column-price {
  flex: none;
  width: 100px;
}

.positions-text {
  margin-bottom: 0;
}

mat-cell {
  height: 60px;
  display: flex;
  align-items: center;
}
