<div class="component-wrapper">
  <div class="community-title">
    <div>
      <h6 class="community-name">{{communityData.name}}</h6>
      <span class="community-season">Temporada {{communityData?.currentSeason?.seasonNumber}}</span>
    </div>
    <div class="community-settings" *ngIf="isUserAdmin">
      <a [routerLink]="['/community/settings', communityData.id]" [state]="{ communityData }">
        <fa-icon [icon]="faGear"></fa-icon>
      </a>
    </div>
  </div>
  <div class="community-teams">
    <div class="menu-toggler dropdown-menu" (click)="toggleMenu('isTeamsMenu')">
      <h6>Equipos</h6>
      <div class="menu-chevron">
        <fa-icon [icon]="faChevronDown" *ngIf="!isTeamsMenu"></fa-icon>
        <fa-icon [icon]="faChevronUp" *ngIf="isTeamsMenu"></fa-icon>
      </div>
    </div>

    <div class="teams-container"  *ngIf="isTeamsMenu">
      <div class="teams" *ngFor="let team of communityTeams">
        <a class="team" [routerLink]="getRouterLink(team.id)">
          <img class="club-crest" [src]="team.clubCrest" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="last-news">
    <div class="menu-toggler dropdown-menu" (click)="toggleMenu('isNewsMenu')">
      <h6>Últimas notícias</h6>
      <div class="menu-chevron">
        <fa-icon [icon]="faChevronDown" *ngIf="!isNewsMenu"></fa-icon>
        <fa-icon [icon]="faChevronUp" *ngIf="isNewsMenu"></fa-icon>
      </div>
    </div>

    <div *ngIf="isNewsMenu">
      <div *ngFor="let date of lastNews | getKeys" class="news-section">
        <h6 class="news-date">{{ date }}</h6>
        <div class="news-item" *ngFor="let news of lastNews[date]">
          <ng-container [ngSwitch]="news.type">
  
            <!-- Block for transferSale -->
            <ng-container *ngSwitchCase="'transferSale'">
              <div class="news-content">
                <div class="news-card">
                  <div class="news-display-message">
                    <span>{{news.message}}</span>
                  </div>
                  <div class="news-transfer-display">
                    <div class="news-display-player-image img-wrapper">
                      <img
                        src="{{news.playerImage}}"
                        alt="{{news.PlayerName}}"
                        title="{{news.PlayerName}}"
                        class="player-image"
                        onerror="this.src='assets/images/others/default-player.svg'"
                      >
                    </div>
                    <div class="transfer-teams">
                      <div class="img-wrapper">
                        <a [routerLink]="getRouterLink(news.sellerId)">
                          <img src="{{news.sellerCrest}}" alt="" class="club-crest">
                        </a>
                      </div>
                      <div class="transfer-line">
                        <fa-icon [icon]="faPersonWalking"></fa-icon>
                      </div>
                      <div class="img-wrapper">
                        <a [routerLink]="getRouterLink(news.buyerId)">
                          <img src="{{news.buyerCrest}}" alt="" class="club-crest">
                        </a>
                      </div>
                    </div>
                    <!-- Conditional class for transfer-amount -->
                    <div class="transfer-amount positive-value">
                      {{news.transferAmount | toCurrency: 'EUR'}}
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            
            <!-- Block for transferPurchase -->
            <ng-container *ngSwitchCase="'transferPurchase'">
              <div class="news-content">
                <div class="news-card">
                  <div class="news-display-message">
                    <span>{{news.message}}</span>
                  </div>
                  <div class="news-transfer-display">
                    <div class="news-display-player-image img-wrapper">
                      <img
                        src="{{news.playerImage}}"
                        alt="{{news.PlayerName}}"
                        title="{{news.PlayerName}}"
                        class="player-image"
                        onerror="this.src='assets/images/others/default-player.svg'"
                      >
                    </div>
                    <div class="transfer-teams">
                      <div class="img-wrapper">
                        <a [routerLink]="getRouterLink(news.sellerId)">
                          <img src="{{news.sellerCrest}}" alt="" class="club-crest">
                        </a>
                      </div>
                      <div class="transfer-line">
                        <fa-icon [icon]="faPersonWalking"></fa-icon>
                      </div>
                      <div class="img-wrapper">
                        <a [routerLink]="getRouterLink(news.buyerId)">
                          <img src="{{news.buyerCrest}}" alt="" class="club-crest">
                        </a>
                      </div>
                    </div>
                    <!-- Conditional class for transfer-amount -->
                    <div class="transfer-amount negative-value">
                      {{news.transferAmount | toCurrency: 'EUR'}}
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

          </ng-container>

          <!-- Block for budget adjustments -->          
          <ng-container *ngIf="news.type === 'bonus' || news.type === 'penalization'">
            <div class="news-content">
              <div class="news-main-image">
                <img src="{{news.clubCrest}}" alt="" class="club-crest">
              </div>
              <div class="news-display">
                <div class="news-display-title">

                  <!-- Conditional title for bonuses -->
                  <ng-container *ngIf="news.type === 'bonus'">
                    <span>Bonus:</span>
                    <div class="transfer-amount positive-value">
                      {{news.amount | toCurrency: 'EUR'}}
                    </div>
                  </ng-container>
                  
                  <!-- Conditional title for penalizations -->                  
                  <ng-container *ngIf="news.type === 'penalization'">
                    <span>Sanción:</span>
                    <div class="transfer-amount negative-value">
                      {{news.amount | toCurrency: 'EUR'}}
                    </div>
                  </ng-container>

                </div>
                <div class="news-message">{{ news.message }}</div>
              </div>
            </div>
          </ng-container>
      
          <!-- Block for all other types -->
          <ng-container *ngIf="news.type === 'newUser' || news.type === 'newSeason'">
            <div class="news-content">
              <img src="{{news.clubCrest}}" alt="" class="club-crest">
              <div class="news-message">{{ news.message }}</div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
