.news-section {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  width: 100%;
}

.news-date {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 10px;
}

.news-content {
  display: flex;
  align-items: center;
  font-size: 0.95em;
  width: 100%;
}

.news-time {
  font-weight: bold;
  margin-right: 10px;
  width: 32px;
  text-align: left;
}

.news-display {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.club-crest {
  width: 60px;
  text-align: center;
}

.player-image {
  max-width: 50px;
}

.news-display-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px; 
  max-width: 200px;
  text-align: center;
}

.negative-value {
  color: #D9534F; /* Red for negative values */
}

.positive-value {
  color: #5CB85C; /* Green for positive values */
  font-size: 1.02rem;
}

.transfer-line {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  width: 16px; /* Fixed width for chevron icon */
}

.news-message {
  flex: 0 0 70%; /* Fixed width for messages in non-transfer news */
}