.community-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;

  .community-settings{
    display: flex;
    align-items: center;
  }

  .community-settings fa-icon {
    font-size: 1.2em;
  }
}

.community-teams {
  margin-bottom: 16px;
  width: 328px;
}

h6 {
  width: 100%;
}

.menu-chevron {
  display: flex;
  width: 100%;
  justify-content: center;
}

.teams-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  margin-top: 10px;
  justify-content: center;
}

.last-news {
  width: 100%;
}
.news-section {
  margin-bottom: 20px;
  padding-bottom: 10px;
  width: 328px;
}

.news-item {
  margin-block: 4px;
}

.news-date {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 10px;
}

.news-content {
  display: flex;
  align-items: center;
  font-size: 0.85em;
  width: 100%;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 8px;
  background-color: var(--background-secondary-color);
}

.news-time {
  font-weight: bold;
  margin-right: 16px;
  width: 32px;
  text-align: left;
}

.news-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.club-crest {
  width: 40px;
  text-align: center;
}

.news-display {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.news-display-player-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 1;
}

.player-image {
  height: 50px;
}

// .news-display-mid {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 120px; 
//   max-width: 200px;
//   text-align: center;
// }

.negative-value {
  color: #D9534F; /* Red for negative values */
}

.positive-value {
  color: #5CB85C; /* Green for positive values */
}

.news-display-info {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
}

.transfer-amount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.transfer-teams {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.transfer-teams a {
  display: flex;
  align-items: center;
}

.transfer-line {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  width: 16px; 
}

.news-message {
  flex: 0 0 70%;
}