<div class="page">
  <div class="menu-list">
    <a class="menu-item">
      <span class="menu-title">General</span>
      <span class="menu-description">Descripción</span>
    </a>
    <a class="menu-item">
      <span class="menu-title">Clubs</span>
      <span class="menu-description">Descripción</span>
    </a>
    <a class="menu-item">
      <span class="menu-title">Mercado</span>
      <span class="menu-description">Descripción</span>
    </a>
    <a class="menu-item">
      <span class="menu-title">Presupuestos</span>
      <span class="menu-description">Descripción</span>
    </a>
    <a class="menu-item">
      <span class="menu-title">Herramientas de Administrador</span>
      <span class="menu-description">Descripción</span>
    </a>
  </div>
</div>