.menu-list, .menu-item {
  display: flex;
  flex-direction: column;
}

.menu-list {
  width: 100%;
  height: 100%;
  padding-inline: 16px;
  border-radius: 16px;
  background-color: var(--background-secondary-color);
  // height: calc(93vh - 160px);
}

.menu-item {
  margin-block: 8px;
}

.menu-description {
  color: var(--text-secondary-color);
  font-size: 0.85em;
  line-height: 1.5;
}

