<ng-container *ngIf="showNoAuthSection">
  <div class="form-container d-flex flex-column justify-content-center landingPage-background">
    <div class="content">
      <h1 class="text-center">Bienvenido a Road to Glory!</h1>
      <div class=" d-flex flex-column text-center align-items-center my-4">
        <h2 class="narrow-h2">Conéctate si ya tienes un equipo</h2>
        <button mat-raised-button color="primary" (click)="navigationTo('login')">Login</button>
      </div>
      <div class=" d-flex flex-column text-center align-items-center my-4">
        <h2 class="narrow-h2">O créate una cuenta si quieres empezar a construir tu equipo</h2>
        <button mat-raised-button color="primary" (click)="navigationTo('register')">Registrarse</button>
      </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="showAuthSection">
  <div class="form-container">
    <h1>Últimos movimientos de mercado</h1>

    <div  class="bg-light border rounded p-3 mb-3">
      <p *ngFor="let transfer of lastTransfers; let i = index">{{ i + 1 }}. {{ transfer.username }} ha {{ transfer.move_type | transferPipe }} a {{ transfer.player_id }} por {{transfer.amount | formatNumber}}€</p>
    </div>
    <p>
      <button mat-raised-button color="primary" (click)="navigationTo('results')">Introducir resultados</button>
    </p>

    <div>
      <table mat-table  [dataSource]="teams" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef>Posición</mat-header-cell>
          <mat-cell *matCellDef="let team">{{ team.position }}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Club</mat-header-cell>
          <mat-cell *matCellDef="let team">{{ team.name }}</mat-cell>
        </ng-container>

        <!-- Played Column -->
        <ng-container matColumnDef="played">
          <mat-header-cell *matHeaderCellDef>Jugados</mat-header-cell>
          <mat-cell *matCellDef="let team">{{ team.played }}</mat-cell>
        </ng-container>

        <!-- Won Column -->
        <ng-container matColumnDef="won">
          <mat-header-cell *matHeaderCellDef>Ganados</mat-header-cell>
          <mat-cell *matCellDef="let team">{{ team.won }}</mat-cell>
        </ng-container>

        <!-- Drawn Column -->
        <ng-container matColumnDef="drawn">
          <mat-header-cell *matHeaderCellDef>Empatados</mat-header-cell>
          <mat-cell *matCellDef="let team">{{ team.drawn }}</mat-cell>
        </ng-container>

        <!-- Lost Column -->
        <ng-container matColumnDef="lost">
          <mat-header-cell *matHeaderCellDef>Perdidos</mat-header-cell>
          <mat-cell *matCellDef="let team">{{ team.lost }}</mat-cell>
        </ng-container>

        <!-- Points Column -->
        <ng-container matColumnDef="points">
          <mat-header-cell *matHeaderCellDef>Puntos</mat-header-cell>
          <mat-cell *matCellDef="let team">{{ team.points }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['position', 'name', 'played', 'won', 'drawn', 'lost', 'points']"></mat-header-row>
        <mat-row *matRowDef="let team; columns: ['position', 'name', 'played', 'won', 'drawn', 'lost', 'points']"></mat-row>
      </table>
    </div>
  </div>
</ng-container>
