<div class="page">
  <div class="pagination-controls">
    <button (click)="previousPage()" [disabled]="currentPage === 1">&#9664;</button>
    <span>{{ currentPage }} de {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= players.length">&#9654;</button>
  </div>

  <div class="player-list-container">
    <div class="player-card" *ngFor="let player of paginatedPlayers">
      <div class="player-card-left-block">
        <img [src]="player.image" alt="{{ player.name }}" class="player-image">
        <!-- <p>{{player.dob}}</p> -->
        <p>{{ player.position }}</p>
        <p>WF: {{ player.weak_foot }} &#9733;</p>
        <p>SM: {{ player.skill_moves }} &#9733;</p>
      </div>
      <div class="player-card-mid-block">
        <div class="mid-block-top">
          <h6 class="player-name">{{ player.name }}</h6>
        </div>
        <div class="mid-block-mid">
          <div class="player-stats">
            <div class="player-stat">
              <p>RIT</p>
              <p [ngClass]="getValueClass(player.sprint_speed)">{{player.sprint_speed}}</p>
            </div>
            <div class="player-stat">
              <p>TIR</p>
              <p [ngClass]="getValueClass(player.shot_power)">{{player.shot_power}}</p>
            </div>
            <div class="player-stat">
              <p>PAS</p>
              <p [ngClass]="getValueClass(player.short_passing)">{{player.short_passing}}</p>
            </div>
          </div>
          <div class="player-stats">
            <div class="player-stat">
              <p>REG</p>
              <p [ngClass]="getValueClass(player.dribbling)">{{player.dribbling}}</p>
            </div>
            <div class="player-stat">
              <p>DEF</p>
              <p [ngClass]="getValueClass(player.defensive_awareness)">{{player.defensive_awareness}}</p>
            </div>
            <div class="player-stat">
              <p>FÍS</p>
              <p [ngClass]="getValueClass(player.strength)">{{player.strength}}</p>
            </div>
          </div>
        </div>
        <div class="mid-block-bottom">
          <div class="player-price">
            <h6>{{ getPlayerCost(player.overall_rating) | toCurrency: 'EUR' }}</h6>
          </div>
        </div>      
      </div>
      <div class="player-card-right-block">
        <div class="player-ovr">
          <h5>{{ player.overall_rating }}</h5>
        </div>
        <div class="favourite-button">
            <span mat-icon-button (click)="toggleSelected()">
              <fa-icon *ngIf="isFavourite" [icon]="faHeartCircleMinus"></fa-icon>            
              <fa-icon *ngIf="!isFavourite" [icon]="faHeartCirclePlus"></fa-icon>            
            </span>
          </div>
        <div class="bid-button">
          <ng-container *ngIf="isPlayerRegistered(player.player_id); else showBidButton">
            <img [src]="isPlayerRegistered(player.player_id)" alt="Club Crest" class="club-crest-image">
          </ng-container>
          <ng-template #showBidButton>
            <button mat-raised-button color="primary" (click)="bidPlayer(player, getPlayerCost(player.overall_rating))" class="btn">
              <fa-icon [icon]="faFileSignature"></fa-icon>
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  
  <div class="pagination-controls">
    <button (click)="previousPage()" [disabled]="currentPage === 1">&#9664;</button>
    <span>{{ currentPage }} de {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= players.length">&#9654;</button>
  </div>
</div>
