.page {
  width: 328px;
}

.menu-toggler, .text-menu>span {
  cursor: pointer;
}

.text-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.clear-button {
  background: none;
  margin-right: 16px;
}

.clear-button fa-icon {
  font-size: 1rem; 
}


.player-list-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.player-card {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: var(--background-secondary-color);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 0.5rem;
}

.player-card-left-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.player-image {
  width: 60px;
  height: 60px;
  margin-bottom: 1rem;
}

.player-card-mid-block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  gap: 0.5rem;

  .player-name {
    overflow: hidden;
    text-overflow: ellipsis; 
    font-size: 1.3rem;
    text-align: center;
  }

  .mid-block-mid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    .player-stats {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .player-stat {
        width: 50px;
      }
    }
  }
  .mid-block-bottom {
    text-align: center;
    gap: 0.5rem;
    width: 100%;
  }
}

.player-card-right-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 0.4rem 0.7rem;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.3s;

  &:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
}

.favorite-button {
  font-size: 1.8rem;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-block: 1rem;
}

.value-rank1 {
  background-color: #2b8a3e;
  border-radius: 4px;
}

.value-rank2 {
  background-color: #66a80f;
  border-radius: 4px;
}

.value-rank3 {
  background-color: #fcc419;
  border-radius: 4px;
}
.value-rank4 {
  background-color: #fd7e14;
  border-radius: 4px;
}

.value-rank5 {
  background-color: #e03131;
  border-radius: 4px;
}

.club-crest-image {
  width: 40px;
  height: auto;
  display: block;
  margin: 0 auto;
}
