<header class="header">
  <div class="navbar-container">
    <a routerLink="/home" routerLinkActive="active" class="navbar-item">
      <mat-icon>home</mat-icon> 
      <span class="navbar-text">Inicio</span>
    </a>
    <a routerLink="/club" routerLinkActive="active" class="navbar-item">
      <mat-icon>shield</mat-icon> 
      <span class="navbar-text">Club</span>
    </a>
    <a routerLink="/stats" routerLinkActive="active" class="navbar-item">
      <mat-icon>equalizer</mat-icon> 
      <span class="navbar-text">Estadísticas</span>
    </a>
    <a routerLink="/trophies" routerLinkActive="active" class="navbar-item">
      <mat-icon>emoji_events</mat-icon> 
      <span class="navbar-text">Trofeos</span>
    </a>
    <a routerLink="/market" routerLinkActive="active" class="navbar-item">
      <mat-icon>sync_alt</mat-icon> 
      <span class="navbar-text">Mercado</span>
    </a>
  </div>
</header>
