<div class="component-wrapper">
  <div class="return-button">
    <app-return-button></app-return-button>
  </div>
  <div class="menu-list">
    <a class="menu-item">
      <span class="menu-title">&#10060; Jugadores máximos por equipo</span>
      <span class="menu-description">{{communityData.maxPlayers}}</span>
    </a>
    <a class="menu-item">
      <span class="menu-title">&#10060; Jugadores mínimos por equipo</span>
      <span class="menu-description">{{communityData.minPlayers}}</span>
    </a>
    <a class="menu-item">
      <span class="menu-title"></span>
      <span class="menu-description"></span>
    </a>
    <a class="menu-item">
      <span class="menu-title"></span>
      <span class="menu-description"></span>
    </a>
  </div>
</div>
