<div class="component-wrapper">
  <div class="return-button">
    <app-return-button></app-return-button>
  </div>
  <div class="menu-list">
    <a class="menu-item">
      <span class="menu-title">&#10060; Presupuesto inicial de los equipos</span>
      <span class="menu-description">{{communityData.startingBudget | toCurrency: 'EUR'  }}</span>
    </a>
    <a class="menu-item">
      <span class="menu-title">&#10060; Bonificación por partidos jugado</span>
      <span class="menu-description">valor</span>
    </a>
    <a class="menu-item">
      <span class="menu-title">&#10060; Bonificación por resultados</span>
      <span class="menu-description">victoria / empate / derrota</span>
    </a>
    <a class="menu-item">
      <span class="menu-title"></span>
      <span class="menu-description"></span>
    </a>
    <a class="menu-item">
      <span class="menu-title"></span>
      <span class="menu-description"></span>
    </a>
  
  </div>
</div>
