@import './styles/cssReset.scss';
@import './styles/theme.scss';
@import 'ngx-toastr/toastr';
@import './styles/colorVariables.scss';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import 'styles/menus.scss';

body, app-root{
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 0.85em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

h1 {
  font-size: 2rem !important; /* Adjust font size for mobile */
  text-align: center;
}

// p {
//   font-size: 1rem; /* Adjust font size for mobile */
//   text-align: center;
//   margin-bottom: 20px;
// }

button {
  padding: 15px 30px; /* Increase button padding for mobile */
  // margin-bottom: 6px;
//   border: none;
//   border-radius: 5px;
//   cursor: pointer;
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// a :hover {
//   color: var(--secondary-color)
// }

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  max-width: 600px;
  margin-inline: auto;
  margin-block: 80px;
  height: 100%;
}

.component-wrapper { 
  display: flex; 
  flex-direction: column;
  height: 100%; 
  width: 100%;
  width: 344px;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  padding: 1rem;
}

.return-button {
  margin-bottom: 8px;
}


// form button {
//   margin-top: 1rem;
//   background-color: #4CAF50;
//   color: white;
//   padding: 0.75rem 1rem;
//   border: none;
//   border-radius: 5px;
//   cursor: pointer;
// }
