/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html {
  html, body { height: 100%; }
}

ul {
  list-style-type: none;
  padding: 0; 
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;}

.attributes-block {
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.player-header{
  display: inline-flex;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

.player-list_photo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

mat-header-row {
   background-color: #3F51B5;
}

mat-header-cell {
  color: white;
  font-weight: bold;
}
